.div-center{
  text-align: center;
  margin-top: 5px;
}

.div-title{
  padding-top: 30px;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #424242;
    font-size: 15px;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial;
    font-weight: 300;
}


/*******Modal******/

.modal-title-success{
    background-color: #5cb85c;
    color: #fff;
}

.modal-title-info{
    /*background-color: #3097d1;
    color: #fff;*/
}

.modal-message{
    text-align:center;
}

/*******Modal******/